<!DOCTYPE html>
{% load static %}
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Npb.uz</title>
    <meta name="description" content="Npb.uz">
    <meta name="keywords"
        content="Очистные сооружения локальные, ливневые, канализационные оборудование в Узбекистане uzecolos ecolos uz">

    <link href="{% static 'css/lineicons.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/odometer.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fancybox.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet" type="text/css">
</head>

<style>
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}
</style>

<body class="page-loaded">
    <div class="preloader spinner-grow text-warning"><img src="http://localhost:8000/static/images/preloader.png" alt="Image" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <!-- end preloader -->
    <div class="page-transition"></div>
    <!-- end page-transition -->
    <aside class="side-widget">
        <div class="inner">
            <div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
            </div>
            <!-- end logo -->
            <div class="show-mobile">
                <div class="site-menu">
                    <ul>
                        <li>
                            <a href="#1">Главный</a>
                        </li>
                        <li>
                            <a href="#2">О компании</a>
                        </li>
                        <li>
                            <a href="#3">Услуги</a>
                        </li>
                        <li>
                            <a href="#4">Продукция</a>
                        </li>
                        <li>
                            <a href="#5">Объекты</a>
                        </li>
                        <li>
                            <a href="#6">Контакты</a>
                        </li>
                    </ul>
                </div>
                <!-- end site-menu -->
            </div>
            <!-- end show-mobile -->
        </div>
        <!-- end inner -->
    </aside>
    <!-- end side-widget -->


    <nav class="navbar">
        <div class="container">
            <div class="inner">
                <div class="logo"><a href="/"> <img src="{% static 'images/logo.png' %}" alt="Image">
                    </a></div>
                <!-- end logo -->
                <!--<div class="custom-menu">-->
                <!--<ul>-->
                <!--<li><a href="#">RU</a></li>-->
                <!--<li><a href="#">UZ</a></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!-- end custom-menu -->
                <div class="site-menu">
                    <ul>
                        <li>
                            <a href="#1">Главный</a>
                        </li>
                        <li>
                            <a href="#2">О компании</a>
                        </li>
                        <li>
                            <a href="#3">Услуги</a>
                        </li>
                        <li>
                            <a href="#4">Продукция</a>
                        </li>
                        <li>
                            <a href="#5">Объекты</a>
                        </li>
                        <li>
                            <a href="#6">Контакты</a>
                        </li>
                    </ul>
                </div>
                <!-- end site-menu -->
                <div class="hamburger-menu"><span></span> <span></span> <span></span></div>
                <!-- end hamburger-menu -->
                <div class="navbar-button"><a href="#">Подробнее</a></div>
                <!-- end navbar-button -->
            </div>
            <!-- end inner -->
        </div>
        <!-- end container -->
    </nav>
    <!-- end navbar -->


    <header class="slider">
    <div class="main-slider swiper-container-horizontal">
        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1519px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 1519px;">
            <div class="section">
                <div class="video-container">
                    <div class="color-overlay"></div>
                    <video autoplay loop muted>
                        <source src="{% static 'video/npb.mp4' %}">
                    </video>
                </div>
            </div>
                        <!-- end slide-image -->
                         <div class="container">
                        <h1>NPB PLAST</h1>
                        <p>Трубы для водоснабжения высокого качества отличающиеся устойчивостью к ультрафиолетовому
                            излучению повышенной стойкостью к нагреванию и высокой прочностью.</p>
                        <a href="#">Посмотреть</a>
                    </div>
                        <!-- end container -->
                    </div>
                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 1519px;">
                    <div class="section">
                        <div class="video-container">
                            <div class="color-overlay"></div>
                            <video autoplay loop muted>
                                <source src="{% static 'video/npb.mp4' %}">
                            </video>
                        </div>
                    </div>                        <!-- end slide-image -->
                         <div class="container">
                        <h1>NPB PLAST</h1>
                        <p>Трубы для водоснабжения высокого качества отличающиеся устойчивостью к ультрафиолетовому
                            излучению повышенной стойкостью к нагреванию и высокой прочностью.</p>
                        <a href="#">Посмотреть</a>
                    </div>
                        <!-- end container -->
                    </div>
                    <!-- end swiper-slide -->
            <div class="swiper-slide swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="1" style="width: 1519px;">
                    <div class="section">
                        <div class="video-container">
                            <div class="color-overlay"></div>
                            <video autoplay loop muted>
                                <source src="{% static 'video/npb.mp4' %}">
                            </video>
                        </div>
                    </div>                        <!-- end slide-image -->
                         <div class="container">
                        <h1>NPB PLAST</h1>
                        <p>Трубы для водоснабжения высокого качества отличающиеся устойчивостью к ультрафиолетовому
                            излучению повышенной стойкостью к нагреванию и высокой прочностью.</p>
                        <a href="#">Посмотреть</a>
                    </div>
                        <!-- end container -->
                    </div>
                    <!-- end swiper-slide -->
                                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 1519px;">
                            <div class="section">
                                <div class="video-container">
                                    <div class="color-overlay"></div>
                                    <video autoplay loop muted>
                                        <source src="{% static 'video/npb.mp4' %}">
                                    </video>
                                </div>
                            </div>                        <!-- end slide-image -->
                         <div class="container">
                        <h1>NPB PLAST</h1>
                        <p>Трубы для водоснабжения высокого качества отличающиеся устойчивостью к ультрафиолетовому
                            излучению повышенной стойкостью к нагреванию и высокой прочностью.</p>
                        <a href="#">Посмотреть</a>
                    </div>

                        <!-- end container -->
                    </div>
        </div>
        <!-- end swiper-wrapper -->
        <div class="controls">
         <div class="controls">
                <div class="button-prev">
                    &lt;
                </div>
                <!-- end button-prev -->
                <div class="swiper-pagination swiper-pagination-fraction"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">2</span></div>
                <!-- end swiper-pagination -->
                <div class="button-next">
                    &gt;
                </div>
                <!-- end button-next -->
            </div>
        <!-- end controls -->
    </div>
    </div>
    <!-- end main-slider -->
</header>




    <section class="content-section revealator-slideup revealator-within" id="2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title wow flipInX" style="visibility: hidden; animation-name: none;">
                        <h2>«New Public Build»</h2>

                    <!-- end section-title -->

                <!-- end col-12 -->
                <div class="col-12 wow fadeIn text-center" style="visibility: hidden; animation-name: none;">
                     <p  style="font-family:verdana; color: #999">New Public Build Строительства канализационных линий и линий водоснабжения, строительство резервуаров и насосных станций.</p>

                    <p  style="font-family:verdana; color: #999">Ремонт и реконструкция линий водоснабжения и канализации. Ремонт и реконструкция резервуаров и насосных станций.</p>
                    <div class="row">
                    <h3 class="col-12">NPB PLAST</h3>

                    </div>
                </div>
                    </div></div>
                <!-- end col-6 -->
                <div class="col-md-6">
                    <div class="counter-box wow slideInLeft" style="visibility: hidden; animation-name: none;">
                        <table>
                            <tbody>
                                <tr>
                                    <td width="70"><img src="/static/images/icons/1.0.png" alt="" width="70"></td>
                                    <td>
                                        <h4>Проверен временем</h4>
                                        <p style="margin-left: 10px;">стойкость к резким перепадам температур (от минус 45 до плюс 40 градусов.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="counter-box wow slideInRight" style="visibility: hidden; animation-name: none;">
                        <table>
                            <tbody>
                                <tr>
                                    <td width="70"><img src="/static/images/icons/3.0.png" alt="" width="70"></td>
                                    <td>
                                        <h4>Собственная научная группа</h4>
                                        <p style="margin-left: 10px;">способность выдержать внутреннее давление (до 16 атмосфер), что говорит о высокой прочности материала.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="counter-box wow slideInLeft" style="visibility: hidden; animation-name: none;">
                        <table>
                            <tbody>
                                <tr>
                                    <td width="70"><img src="/static/images/icons/4.0.png" alt="" width="70"></td>
                                    <td>
                                        <h4>5 производственных комплексов</h4>
                                        <p style="margin-left: 10px;">во время эксплуатации не образуется налет и прочие химические образования.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="counter-box wow slideInRight" style="visibility: hidden; animation-name: none;">
                        <table>
                            <tbody>
                                <tr>
                                    <td width="70"><img src="/static/images/icons/5.0.png" alt="" width="70"></td>
                                    <td>
                                        <h4>Реализовано</h4>
                                        <p style="margin-left: 10px;">низкий вес, гибкость, жесткость позволяют сократить расходы при транспортировке, монтаже.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="counter-box wow slideInLeft" style="visibility: hidden; animation-name: none;">
                        <table>
                            <tbody>
                                <tr>
                                    <td width="70"><img src="/static/images/icons/7.0.png" alt="" width="70"></td>
                                    <td>
                                        <h4>Высокое качество</h4>
                                        <p style="margin-left: 10px;">отсутствие коррозии.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="counter-box wow slideInRight" style="visibility: hidden; animation-name: none;">
                        <table>
                            <tbody>
                                <tr>
                                    <td width="70"><img src="/static/images/icons/8.0.png" alt="" width="70"></td>
                                    <td>
                                        <h4>Минимальные сроки</h4>
                                        <p style="margin-left: 10px;">стойкость к агрессивным химическим элементам.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->

    <section class="content-section" id="3">
        <div class="row">
                <div class="col-12">
                    <div class="section-title wow flipInX" style="visibility: hidden; animation-name: none;">
                        <h2>Наши партнеры</h2>
                        <h6>Нашими партнерами являются известные международные и местные компании</h6>
                    </div>
                    <!-- end section-title -->
                </div>

            <img src="{% static '/images/Frame.png' %}" alt="">
        </div>
        </section>
    <!-- end content-section -->

    <section class="content-section no-spacing wow fadeIn" id="4" style="visibility: hidden; animation-name: none;">

    </section>
    <!-- end content-section -->

 <section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Продукция серийного производства</h2>
                </div>
                <!-- end section-title -->
            </div>
            <!-- end col-12 -->
                            <div class="col-lg-4">
                    <div class="solution-box">
                        <figure>
                            <img src="{% static '/images/logo.png' %}" alt="Системы и установки водоподготовки">
                            <figcaption>
                                <h6>Системы и установки водоподготовки</h6>
                                <a href="#">Открыть</a>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end solution-box -->
                </div>
                <!-- end col-4 -->
                            <div class="col-lg-4">
                    <div class="solution-box">
                        <figure>
                            <img src="{% static '/images/logo.png' %}" alt="КНС, Насосные станции">
                            <figcaption>
                                <h6>КНС, Насосные станции</h6>
                                <a href="#">Открыть</a>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end solution-box -->
                </div>
                <!-- end col-4 -->
                            <div class="col-lg-4">
                    <div class="solution-box">
                        <figure>
                            <img src="{% static '/images/logo.png' %}" alt="Очистные сооружения поверхностных стоков">
                            <figcaption>
                                <h6>Очистные сооружения поверхностных стоков</h6>
                                <a href="#">Открыть</a>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end solution-box -->
                </div>
                <!-- end col-4 -->
                            <div class="col-lg-4">
                    <div class="solution-box">
                        <figure>
                            <img src="{% static '/images/logo.png' %}" alt="Биологическая очистка сточных вод">
                            <figcaption>
                                <h6>Биологическая очистка сточных вод</h6>
                                <a href="#">Открыть</a>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end solution-box -->
                </div>
                <!-- end col-4 -->
                            <div class="col-lg-4">
                    <div class="solution-box">
                        <figure>
                            <img src="{% static '/images/logo.png' %}" alt="Емкостное оборудование">
                            <figcaption>
                                <h6>Емкостное оборудование</h6>
                                <a href="#">Открыть</a>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end solution-box -->
                </div>
                <!-- end col-4 -->
                            <div class="col-lg-4">
                    <div class="solution-box">
                        <figure>
                            <img src="{% static '/images/logo.png' %}" alt="Оборудование для очистных сооружений">
                            <figcaption>
                                <h6>Оборудование для очистных сооружений</h6>
                                <a href="#">Открыть</a>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end solution-box -->
                </div>
                <!-- end col-4 -->
                    </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>

    <section class="content-section no-top-spacing wow fadeIn" id="6" style="visibility: hidden; animation-name: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <figure class="video-thumb">
                        <video autoplay loop muted>
                            <source src="{% static 'video/npb.mp4' %}">
                        </video>
                        <a href="/videos/video.mp4" data-fancybox="">Посмотреть
                            видео</a>
                    </figure>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-5 -->
                <div class="col-lg-7">
                    <div class="track-shipping-form">
                        <form id="ajax-form1">
                            <div class="inner">
                                <h3 class="mt-3">Заявка на оборудование для очистики и перекачки стоков</h3>
                                <div class="form-group">
                                    <input id="nameRequest" type="text" name="name" class="pl-3"
                                        placeholder="Как к вам можно обращаться" required="">
                                </div>
                                <!-- end form-group -->
                                <div class="form-group">
                                    <input id="phone" type="tel" name="phone" class="pl-3 input-phone"
                                        placeholder="Номер телефона" required="">
                                </div>
                                <!-- end form-group -->
                                <div class="form-group">
                                    <button type="submit">Отправить</button>
                                </div>
                                <!-- end form-group -->
                            </div>
                        </form>
                        <!-- end inner -->
                    </div>
                    <!-- end track-shipping-form -->
                </div>
                <!-- end col-7 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <footer class="footer pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <figure class="logo"><img src="/static/images/logo.png" srcset="/static/images/logo.png"  alt="Image"></figure>
                    <p>+998 (71) 200-73-33<br>
                        <a href="mailto:info@nbp.uz">info@nbp.uz</a>
                    </p>
                </div>
                <!-- end col-4 -->

                <!-- end col-4 -->
                <div class="col-lg-2">
                    
                </div>
                <div class="col-lg-2">
                </div>

                <div class="col-lg-4 col-md-6">
                  <ul class="footer-menu">
                      <li><a href="#1">Главный</a></li>
                      <li><a href="#2">О компании</a></li>
                      <li><a href="#3">Услуги</a></li>
                    <li><a href="#4">Продукция</a></li>
                    <li><a href="#5">Объекты</a></li>
                    <li><a href="#6">Контакты</a></li>
                  </ul>
              </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </footer>
    <!-- end footer -->
    <!-- HTML-код модального окна -->
    <div id="showModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Заголовок модального окна -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <!-- Основное содержимое модального окна -->
                <div class="modal-body">
                    <p style="text-align: center;"><img src="/static/images/icons/success.png" alt="" width="100"></p>
                    <h6 align="center">
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <script charset="utf-8" type="text/javascript" src="https://cp.callback-free.com/api/js/form-builder.js"
        data-key="x2FG-D9s"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-BN7FCY2NJ8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BN7FCY2NJ8');
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fancybox.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/odometer.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

    <script src="https://cp.callback-free.com/api/widget/bundle.js" type="text/javascript"></script>
    <div>
        <div></div>
    </div>
</body>

</html>