{% load static %}
<footer class="footer pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <figure class="logo"><img src="{% static 'static/images/logo.png' %}" srcset="{% static 'static/images/logo.png' %}"  alt="Image"></figure>
                <p>+998 (71) 200-73-33<br>
                    <a href="mailto:info@nbp.uz">info@nbp.uz</a>
                </p>
            </div>
            <!-- end col-4 -->
            
            <!-- end col-4 -->
            <div class="col-lg-2">
            </div>
            <div class="col-lg-2">
            </div>

            <div class="col-lg-4 col-md-6">
              <ul class="footer-menu">
                  <li><a href="#1">Главный</a></li>
                  <li><a href="#2">О компании</a></li>
                  <li><a href="#3">Услуги</a></li>
                <li><a href="#4">Продукция</a></li>
                <li><a href="#5">Объекты</a></li>
                <li><a href="#6">Контакты</a></li>
              </ul>
          </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>