{% load static %}
<nav class="navbar">
    <div class="container">
        <div class="inner">
            <div class="logo"><a href="/"> <img src="{% static 'images/logo.png' %}" srcset="/static/images/logo@2x.png" alt="Image">
                </a></div>
            <!-- end logo -->
            <!--<div class="custom-menu">-->
            <!--<ul>-->
            <!--<li><a href="#">RU</a></li>-->
            <!--<li><a href="#">UZ</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!-- end custom-menu -->
            <div class="site-menu">
                <ul>
                    <li>
                        <a href="#1">Главный</a>
                    </li>
                    <li>
                        <a href="#2">О компании</a>
                    </li>
                    <li>
                        <a href="#3">Услуги</a>
                    </li>
                    <li>
                        <a href="#4">Продукция</a>
                    </li>
                    <li>
                        <a href="#5">Объекты</a>
                    </li>
                    <li>
                        <a href="#6">Контакты</a>
                    </li>
                </ul>
            </div>
            <!-- end site-menu -->
            <div class="hamburger-menu"><span></span> <span></span> <span></span></div>
            <!-- end hamburger-menu -->
            <div class="navbar-button"><a href="#">Опросный лист</a></div>
            <!-- end navbar-button -->
        </div>
        <!-- end inner -->
    </div>
    <!-- end container -->
</nav>